name: Instrumented Tests v2

on:
  workflow_dispatch:
    inputs:
      configuration:
        description: 'Test configuration to run'
        required: true
        type: choice
        options:
          - quick
          - ci
          - complete
        default: 'quick'
      api_level:
        description: 'API Level'
        required: true
        type: choice
        options:
          - 30
          - 33
          - 35
        default: '33'
        
        
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: ${{ vars.UU_JAVA_DISTRIBUTION }}
          java-version: ${{ vars.UU_JAVA_VERSION }}

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Check Emulator
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ github.event.inputs.api_level }}
          script: ./gradlew connectedCheck
          
      - name: Run Instrumented Tests (API ${{ matrix.api-level }})
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ github.event.inputs.api_level }}
          arch: x86_64
          script: |
            ./gradlew \
            :library_instrumented:connectedDebugAndroidTest \
            -Pandroid.testInstrumentationRunnerArguments.notAnnotation=com.silverpine.uu.test.instrumented.annotations.UUInteractionRequired \
            --stacktrace
        
        