name: Publish To Stage

on:
  push:
    branches:
        - develop

jobs:
  call-reusable-workflow:
    uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_publish_to_stage.yml@main
    with:
      module_path: 'library'
  call-reusable-workflow:
    uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_publish_to_stage.yml@main
    with:
      module_path: 'library_instrumented'
      