name: Publish
permissions: read-all

on:
  create:
    tags:
      - '*.*.*'  # Matches numerical version tags like 1.0.0, 2.1.3, etc.

jobs:

  run-tests:
    uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_tests.yml@main
    with:
      module_path: 'library'
    
  run-instrumented-tests:
    uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_instrumented_tests.yml@main
    with:
      module_path: 'library_instrumented'

#  publish-library:
#    needs: [run-instrumented-tests]
#    uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_library_publish_release.yml@main
#    secrets:
#      MAVEN_CENTRAL_NEXUS_URL: ${{ secrets.MAVEN_CENTRAL_NEXUS_URL }}
#      MAVEN_CENTRAL_SNAPSHOT_URL: ${{ secrets.MAVEN_CENTRAL_SNAPSHOT_URL }}
#      OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
#      OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
#      SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
#      SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
#      SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
#      SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}
#
#  publish-library-instrumented:
#    needs: [run-instrumented-tests]
#    uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_library_publish_release.yml@main
#    with:
#      module_path: 'library_instrumented'
#    secrets:
#      MAVEN_CENTRAL_NEXUS_URL: ${{ secrets.MAVEN_CENTRAL_NEXUS_URL }}
#      MAVEN_CENTRAL_SNAPSHOT_URL: ${{ secrets.MAVEN_CENTRAL_SNAPSHOT_URL }}
#      OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
#      OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
#      SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
#      SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
#      SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
#      SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}
       
  create-release:
    needs: [run-tests, run-instrumented-tests]
    uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_create_release.yml@main
    secrets:
      UU_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    