name: Publish To Stage
permissions: read-all

on:
  push:
    branches:
        - develop

concurrency:
  group: publish-to-stage-${{ github.ref }}
  cancel-in-progress: true
  
jobs:

  get-build-suffix:
    uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_get_snapshot_build_suffix.yml@main

  run-tests:
    needs: [get-build-suffix]
    uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_tests.yml@main
    with:
      module_name: 'library'
      build_suffix: ${{ needs.get-build-suffix.outputs.build_suffix }}
    
  run-instrumented-tests:
    needs: [get-build-suffix]
    uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_instrumented_tests.yml@main
    with:
      module_name: 'library_instrumented'
      build_suffix: ${{ needs.get-build-suffix.outputs.build_suffix }}

  publish-library-snapshot:
    needs: [get-build-suffix,run-tests]
    uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_library_publish_snapshot.yml@main
    with:
      module_name: 'library'
      build_suffix: ${{ needs.get-build-suffix.outputs.build_suffix }}
    secrets:
      MAVEN_CENTRAL_NEXUS_URL: ${{ secrets.MAVEN_CENTRAL_NEXUS_URL }}
      MAVEN_CENTRAL_SNAPSHOT_URL: ${{ secrets.MAVEN_CENTRAL_SNAPSHOT_URL }}
      OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
      OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
      SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
      SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
      SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
      SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}
      
  publish-library-instrumented-snapshot:
    needs: [get-build-suffix, run-instrumented-tests]
    uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_library_publish_snapshot.yml@main
    with:
      module_name: 'library_instrumented'
      build_suffix: ${{ needs.get-build-suffix.outputs.build_suffix }}
    secrets:
      MAVEN_CENTRAL_NEXUS_URL: ${{ secrets.MAVEN_CENTRAL_NEXUS_URL }}
      MAVEN_CENTRAL_SNAPSHOT_URL: ${{ secrets.MAVEN_CENTRAL_SNAPSHOT_URL }}
      OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
      OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
      SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
      SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
      SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
      SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}
      