name: Publish To Stage

on:
  push:
    branches:
        - develop

jobs:
  publish-library-snapshot:
    uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_publish_to_stage.yml@main
    with:
      module_path: 'library'
  publish-library-instrumented-snapshot:
    uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_publish_to_stage.yml@main
    with:
      module_path: 'library_instrumented'
      